---
import Layout from '../../layouts/Layout.astro';
import StickyHeader from '../../components/StickyHeader';
import InteractiveHero from '../../components/InteractiveHero';
import AboutSection from '../../components/AboutSection';
import ProductsSection from '../../components/ProductsSection';
import WhyCoreShot from '../../components/WhyCoreShot';
import Footer from '../../components/Footer';
import CustomCursor from '../../components/CustomCursor';
const locale = 'pl';
---

<Layout
  title="CoreShot - Precyzja w Centrum"
  description="Wysokiej jakości akcesoria i inteligentne oprogramowanie do zarządzania strzelnicami w całej Europie"
>
  <StickyHeader client:load locale={locale} />
  <CustomCursor client:load />
  <main class="min-h-screen bg-[#1C2526]">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <InteractiveHero client:load locale={locale} />
      <AboutSection client:load locale={locale} />
      <ProductsSection client:load locale={locale} />
    </div>
    <WhyCoreShot client:load locale={locale} />
    <Footer client:load locale={locale} />
  </main>
</Layout>
